<html ng-app="app">
<head>
<title>Glamour/GQ mockup</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/app.css">
</head>

<body>

<div id="col_1_2_3_container_sections">
  <div id="col_1_2">    

<!-- CONTROLLER 1 Glamour -->
  <div class="ui-news-teaser" ng-controller="glamour" ng-cloak>

    <div class="header">
      <h1><a href="{{link}}" target="_blank">{{title}}</a></h1>
    </div>

    <div class="content">
      <div class="picture">
        <img ng-src="{{data[0].image}}" alt="">
      </div> 

      <div class="article_lead">
        <h2><a href="{{data[0].link}}">{{data[0].title}}</a></h2>
        <p ng-bind-html="data[0].lead"></p>
      </div><!-- / .article_lead-->

      <div class="more-links">
        <p ng-repeat="entry in data | limitTo: 3 | limitTo: -2">
          <a href="{{entry.link}}">{{entry.title}}</a>
        </p>
        <a href="{{link}}" class="read-more">More {{title}}</a>
      </div><!-- / .more-links -->     
     
    </div><!-- / .content -->

    <div class="branding {{title}}">
      <a href="{{link}}"> <img src="images/logo-glamour.png" alt="" class="brand-logo"></a>      
    </div><!-- / .branding -->

  </div><!-- / .ui-news-teaser -->

  
  <!-- CONTROLLER 2  GQ -->
  <div class="ui-news-teaser" ng-controller="gq" ng-cloak>

    <div class="header">
      <h1><a href="{{link}}" target="_blank">{{title}}</a></h1>
    </div>

    <div class="content">
      <div class="picture">
        <img ng-src="{{data[0].image}}" alt="">
      </div> 

      <div class="article_lead">
        <h2><a href="{{data[0].link}}">{{data[0].title}}</a></h2>
        <p ng-bind-html="data[0].lead"></p>
      </div><!-- / .article_lead-->

      <div class="more-links">
        <p ng-repeat="entry in data | limitTo: 3 | limitTo: -2">
          <a href="{{entry.link}}">{{entry.title}}</a>
        </p>
        <a href="{{link}}" class="read-more">More {{title}}</a>
      </div><!-- / .more-links -->     
     
    </div><!-- / .content -->

    <div class="branding {{title}}">
      <a href="{{link}}"> <img src="images/logo-gq.png" alt="" class="brand-logo"></a>      
    </div><!-- / .branding -->

  </div><!-- / .ui-news-teaser -->

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-sanitize.min.js"></script>    
<script src="js/app.js"></script> 
<!-- grunt live reload -->
<script src="http://localhost:35729/livereload.js"></script>    
</body>
</html>
