.ui-news-teaser {
  position: relative;
  width: 318px;
  height: auto;
  margin: 0 10px 20px 0;
  padding: 0px;
  float: left;
  background: #ebeff1;
}
.ui-news-teaser .header {
  font-size: 14px;
  font-weight: bold;
  color: #3f434c;
  padding: 10px 10px 0px 10px;
}
.ui-news-teaser .content {
  margin-left: 10px;
}
.ui-news-teaser .picture {
  display: block;
  float: left;
  width: auto;
  margin: 0;
}
.ui-news-teaser .article_lead {
  display: block;
  float: left;
  width: 55%;
  margin-left: 10px;
  padding: 0;
  height: 140px;
}
.ui-news-teaser .more-links {
  margin: 10px 0 0 0;
}
.ui-news-teaser .more-links a {
  display: block;
  width: 95%;
  font-size: 12px;
  text-decoration: none;
  color: #3f434c;
  line-height: 20px;
  border-bottom: 1px solid #cccccc;
  white-space: nowrap;
  overflow: hidden;
}
.ui-news-teaser a.read-more {
  border-bottom: none !important;
  margin-top: 8px;
}
.ui-news-teaser .more-links {
  display: block;
  float: none;
}
.ui-news-teaser .read-more {
  display: block;
  float: left;
}
.ui-news-teaser .branding {
  width: 100%;
  display: block;
  float: right;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  background: white;
}
.ui-news-teaser .Glamour .brand-logo {
  width: 80px;
  float: right;
}
.ui-news-teaser .GQ .brand-logo {
  width: 50px;
  float: right;
}

.ui-news-teaser h1 {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 5px 0;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #3f434c;
}

.ui-news-teaser h1 a {
  text-decoration: none;
  color: #3f434c;
}
.ui-news-teaser h1 a:visited {
  color: #3f434c;
}
.ui-news-teaser h1 a:focus {
  color: #3f434c;
}
.ui-news-teaser h1 a:hover {
  color: black;
}
.ui-news-teaser h1 a:active {
  color: #3f434c;
}

.ui-news-teaser .picture img {
  max-width: 140px;
  max-height: 100px;
}

.article_lead h2 {
  line-height: 16px;
}

.article_lead h2 a {
  font-size: 13px;
  text-decoration: none;
  line-height: 16px;
  color: #3f434c;
}
.article_lead h2 a:visited {
  color: #3f434c;
}
.article_lead h2 a:focus {
  color: #3f434c;
}
.article_lead h2 a:hover {
  color: black;
}
.article_lead h2 a:active {
  color: #3f434c;
}

.article_lead p {
  color: #3f434c;
  font-size: 12px;
  line-height: 14px;
}
