* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eeeeee;
}

#col_1_2_3_container_sections {
  width: 974px;
  display: block;
  height: 100%;
  margin: 0 auto;
  padding: 0px 0px 2px;
  background-color: white;
  z-index: 799;
}

#col_1_2 {
  width: 657px;
  height: 100%;
  background: none repeat scroll 0% 0% white;
  margin: 0px 17px 0px 0px;
  float: left;
  position: relative;
  left: 17px;
  top: 20px;
}

img {
  border: 0px none;
}
