@import "compass" 


// see masters.sass for inherited styling

$color-black: #000
$color-white: #FFF
$color-grey: #3F434C
$color-light-grey: #CCC


// customisable css for this glamour element copied from teasers, teasers_head etc

.ui-news-teaser
  position: relative
  width: 318px
  height: auto
  margin: 0 10px 20px 0
  padding: 0px
  float: left
  background: #ebeff1

  .header
    font-size: 14px
    font-weight: bold
    color: #3F434C
    padding: 10px 10px 0px 10px

  .content
    margin-left: 10px

  .picture
    display: block
    float: left 
    width: auto
    margin: 0

  .article_lead
    display: block  
    float: left 
    width: 55%
    margin-left: 10px
    padding: 0
    height: 140px

  .more-links
    margin: 10px 0 0 0

  .more-links a
    display: block
    width: 95%
    font-size: 12px
    text-decoration: none
    color: $color-grey
    line-height: 20px
    border-bottom: 1px solid $color-light-grey
    white-space: nowrap
    overflow: hidden

  a.read-more
    border-bottom: none!important
    margin-top: 8px

  .more-links
    display: block
    float: none
  
  .read-more
    display: block
    float: left

  .branding
    width: 100%
    display: block
    float: right
    margin: 10px 0 0 0
    padding: 10px 0 0 0
    background: #FFF

  .Glamour .brand-logo
    width: 80px
    float: right

  .GQ .brand-logo
    width: 50px
    float: right

.ui-news-teaser h1
  border-bottom: 1px solid $color-light-grey
  padding: 0 0 5px 0
  line-height: 16px
  font-size: 16px
  font-weight: bold
  color: $color-grey

.ui-news-teaser h1 a
  text-decoration: none
  +link-colors($color-grey, $color-black, $color-grey, $color-grey, $color-grey)
    
.ui-news-teaser .picture   
  img
    max-width: 140px
    max-height: 100px

.article_lead h2 
  line-height: 16px

.article_lead h2 
  a 
    font-size: 13px
    text-decoration: none
    line-height: 16px
    +link-colors($color-grey, $color-black, $color-grey, $color-grey, $color-grey)

.article_lead
  p
    color: $color-grey
    font-size: 12px
    line-height: 14px